$color-primary: rgba(175, 172, 20, 0.404); //color primary
$color-primary-light: rgba(243, 240, 78, 0.404); //color-lighter
$color-primary-dark: rgba(104, 102, 11, 0.404); //color-darker
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
