$color-primary: rgba(175, 172, 20, 0.404); //color primary
$color-primary-light: rgba(243, 240, 78, 0.404); //color-lighter
$color-primary-dark: rgba(104, 102, 11, 0.404); //color-darker
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
$grid-width: 114rem;
$gutter-vertical: 8rem;
$horizantal-gutter: 6rem;
$color-tertiary-light: #2998ff;
$color-tertiary-light: #5643fa;
